{% extends 'ProyectoCoderApp/base.html' %}
{% load static %}
{% block tituloPagina %}
Register - App Coder
{% endblock %}




{% block b2 %}
<section class="bg-light py-5">
    <section class="bg-light py-5">
        <div class="container px-6">
            <div class="row gx-5justify-content-center">
            <h3>Posteos:</h3>
                {% for post in posteos %}
                <label class="list-group-item d-flex gap-3">
                <span class="pt-1 form-checked-content">
                    <dl>
                        <dt><strong style="font-size: 150%">{{post.titulo}}</strong></dt>
                        <dt><strong style="font-size: 115%">{{post.subtitulo}}</strong></dt>
                    </dl>
                    
                    <dl style="font-size: 90%">
                        <dt><small class="text-muted">{{post.autor}}</small></dt>
                        <dt><small class="text-muted">{{post.fecha}}</small></dt>
                    </dl>

                    <dl>
                        <dt>
                            <a href="{% url 'posteo_update' post.id %}" class="text-primary badge badge-primary text-decoration-none"> <i class="bi bi-pencil-square"></i> Editar</a>
                            <a href="{% url 'posteo_delete' post.id %}" class="text-danger badge badge-danger text-decoration-none"> <i class="bi bi-x-square"></i> Eliminar</a>
                        </dt>
                    </dl>
                    </small>
                </span>
                </label>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}